# reCAPTCHA Site Key (get from https://www.google.com/recaptcha/admin)
# This is the public key used in the frontend
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key_here

# Note: If not set, the app will use Google's test key which shows
# "This reCAPTCHA is for testing purposes only" message.
# To remove this message, get your own keys from Google reCAPTCHA admin.
